/* FOOTER */
/* References:
https://bootsnipp.com/snippets/featured/e-commerce-footer-responsive

*/

.footer {
	background: lavender;
	height: auto;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer p {
	margin: 0 auto;
}

.footer ul {
	font-size: 14px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #7F8C8D;
}

.social li{
	background: none repeat scroll 0 0 #B5B5B5;
	border: 0px solid #B5B5B5;
	float: left;
	text-align: center;
	border-radius: 50%;
	margin: 5px 5px;
	padding: 0px;
	border-color: transparent;
	line-height: 36px;
	width: 36px;
	height: 36px;
	vertical-align: middle;
	display: inline-block;
}

.social li a{
	color: white;
}

.social i {
	line-height: inherit; /* this will make the icon align center vertically */
}
/*
Social Media Colours - Hex and RGB Colours of the Web
https://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
*/
#social-tw:hover{
	color: white;
	background-color: #55acee;
}
#social-fb:hover{
	color: white;
	background-color: #3B5998;
}
#social-in:hover{
	color: white;
	background-color: #007bb5;
}
#social-itch:hover{
	color: white;
	background-color: #FA5C5B;
}
#social-github:hover{
	color: white;
	background-color: #000;
}