#container{
  background: lavender;
}

.introHeader {
  font-family: Lobster;
  text-align: center;
}

table caption{
	caption-side:bottom;	
}

.jumbotron img{
	width: auto;
	max-height: 200px;
	margin: 0 auto;
}

blockquote{
	background: lavender;
	font-family: Lobster;
	text-align: center;
	font-style: italic;
	font-weight: 200;
	margin: 10px;
}

.detailSection {
	font-family: Verdana, Geneva, sans-serif;
	font-align: left;
}

.detailSection h2 {
	font-family: Lobster;
	font-weight: 200;
}

.detailSection .img-readmore {
  width: auto;
  height: 40px;
  margin: 0 auto;
}


