blockquote{
	background: lavender;
	font-family: Lobster;
	text-align: center;
	font-style: italic;
	font-weight: 200;
	margin: 10px;
}

#temperature {
	font-size: 30px;
}

.div-center{
	margin: auto;
	width: 100%;
}